.background-shade {
  background: $color__dark-30;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -6;
}

.site-header {
  position: fixed;
  z-index: 6;
  display: block;
  background: $color__dark-green;
  padding: $grid__pixel-28 0 0;
  border-right: none;
  border-bottom: 1px solid $color__dark-80;
//  overflow: hidden;
  @media all and ( min-width: $screen__md ) {
    @include flex-center();
    border-right: 1px solid $color__dark-30;
    background: $color__dark-30;
    flex-direction: column;
    padding: 0;
    height: 100%;
  }
  
  @media all and ( max-height: 480px ) and ( min-width: $screen__md ) {
    overflow-y: scroll;
  }
  
  a {
    color: $color__text-main;
    font-weight: 100;
    &:hover {
      text-decoration: none;
    }
  }
}

.site-branding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 0 0 $grid__pixel-28;
  @media all and ( min-width: $screen__md ) {
    display: block;
    margin: 0;
  } 
}

.site-title {
  font-family: $font__header;
  font-size: 50px;
  line-height: 0.5;
  margin-bottom: $grid__pixel-28;
  @media all and ( min-width: $screen__xd ) {
    font-size: 70px;
  }
  
  span {
    display: block;
    &:last-of-type {
      margin-left: 22px;
      @media all and ( min-width: $screen__xd ) {
        margin-left: 31px;
      }
    }
  }
  
  a:hover {
    color: $color__light-80;
  }
}

.site-description {
  font-family: $font__header;
  font-weight: 700;
  font-size: 25px;
  font-variant: small-caps;
  line-height: .9;
  padding-left: 0;
  border-left: none;
  margin-left: 0;
  display: none;
  text-shadow: 2px 2px 2px $color__dark-50;
  margin-bottom: $grid__pixel-28;
  word-spacing: 2px;
  animation: description-colour-rotation 10s ease-in-out infinite;
  @keyframes description-colour-rotation {
    0%   { color: $color__soft-orange; }
    25%  { color: $color__soft-white;  }
    50%  { color: $color__soft-green;  }
    75%  { color: $color__soft-blue;   }
    100% { color: $color__soft-orange; }
  }
  
  @media all and ( min-width: 520px ) {
    margin-left: $grid__pixel-28;
    border-left: 2px solid $color__soft-white;
    padding-left: $grid__pixel-28;
  }
  
  @media all and ( min-width: 590px ) {
    display: flex;
  }
  
  @media all and ( min-width: $screen__md ) {
    display: block;
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }
  
  @media all and ( min-width: $screen__xd ) {
    font-size: 33px;
  }
  
  p {
    margin-bottom: 0;
  }
  
  span {
    display: block;
  }
}
