.site-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media all and (min-width: 992px) {
    position: fixed;
    height: 100%;
  }
  
  a {
    color: aliceblue;
    &:hover {
      color: antiquewhite;
      text-decoration: none;
    }
  }
}

.site-branding {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  @media all and (min-width: 480px) {
    justify-content: space-around;
    flex-direction: row;
  }
  
  @media all and (min-width: 992px) {
    justify-content: center;
    flex-direction: column; 
  }
  
}

.site-title {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  line-height: 0.5;
  margin-bottom: 1em;
  
  span {
    display: block;
    margin-left: .45em;
  }
}

.site-description {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  font-variant: small-caps;
  line-height: 1;
  margin-bottom: 1em;
  animation: description-colour-rotation 10s ease-in-out infinite;
  
  @keyframes description-colour-rotation {
    0% {
      color: #9f8b68;
    }
    25% {
      color: #c3c3c3;
    }
    50% {
      color: #78a58f;
    }
    75% {
      color: cornflowerblue;
    }
    100% {
      color: #9f8b68;
    }
  }
  
  .amp {
    display: block;
    font-size: .7em;
    margin-bottom: -6px;
  }
}