h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.h1, h1 {
  font-size: 2.25em;
  margin: 0 0 .5rem;
  line-height: 0.8;
  @media all and ( min-width: 360px ) {
    font-size: 3em;
  }
}

.h2, h2 {
  font-size: 1.75em;
  @media all and ( min-width: 360px ) {
    font-size: 2em;
  }
}

.h3, h3 {
  font-size: 1.5em;
  @media all and ( min-width: 360px ) {
    font-size: 1.75em;
  }
}
