.content-page {  
  .entry-header {
    text-align: center;
    padding: ( $grid__pixel-28 * 2 ) 0;
  }

  .entry-meta {
    font-weight: 700;
  }
  
  .entry-title {
    line-height: 1;
    font-weight: 100;
    max-width: 950px;
    margin: 0 auto $grid__pixel-7;
    word-wrap: break-word;
  }
  
  .featured-image-container {
    @include flex-center;
    max-height: 365px;
    overflow: hidden;
    margin: 0 -15px $grid__pixel-28;
  }
  
  .entry-content {
    max-width: 600px;
    margin: 0 auto $grid__pixel-28;
    background: $color__dark-30;
    padding: $grid__pixel-28;
    border-radius: $border-radius;
    border: 1px solid $color__dark-10;
    @media all and ( min-width: $screen__xd ) {
      max-width: 970px;
    }
    
    li {
      margin-bottom: ( $grid__pixel-7 * 2 );
      line-height: 1.3;
    }
  }
} 
