.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $grid__padding;
}

.updated:not( .published ) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $grid__padding 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $grid__padding;
}

.site-content {
  margin-top: 105px;
  @media all and ( min-width: $screen__md ) {
    margin-top: 0;
  }
}

.no-results {
  height: 80vh;
}

.entry-meta {
  font-size: 80%;
  word-spacing: 1px;
}

.entry-footer {    
  @include flex;
  justify-content: space-between;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    max-width: 600px;
    width: 100%;
    margin: ( $grid__pixel-28 * 2 ) auto;
    font-weight: bold;
    overflow: hidden;
    padding: 0 $grid__pixel-7;
    @media all and ( min-width: $screen__xd ) {
      max-width: 970px;
    }
  }

  .nav-previous {
    float: left;
    width: 48%;
    
    a {
      display: block;
      line-height: 1.1;
    }
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 48%;
    
    a {
      display: block;
      line-height: 1.1;
    }
  }
}

.archive-page {
  .archive-description {
    p {
      margin: 0;
      font-size: 90%;
    }
  }
}

.search-page {
  .search-result {
    font-weight: normal;
  }
}

.about-page {
  .resume-link {
    font-size: 110%;
    font-weight: 700;
  }
}
