<header class="row row-centered bkgd aboutbkgd v-wrap">
	<div class="col-xs-12 col-sm-10 col-md-8 max-width col-centered v-box">
    	<div class="center">
    	<h1 class="home-header">About</h1>
    	<h2 class="about-subheader main-subheader">Personal + Informational</h2>
        <div>
        	<a ng-click="gotoAbout()" class="btn btn-lg primary-about-btn" 
        	role="button">my bio</a> 
        	<a ng-click="gotoContact()" class="btn btn-lg secondary-home-btn" 
        	role="button">contact me</a>
        </div>
        </div>
    </div>
</header>

<div class="row">
	<div class="page-break" style="background-color:#7c5643">&nbsp;</div>
	<div class="page-break" style="background-color:#7f5650">&nbsp;</div>
  	<div class="page-break" style="background-color:#7b413f">&nbsp;</div>
    <div class="page-break" style="background-color:#81572d">&nbsp;</div>
</div>

<div class="row row-centered row-padding" id="aboutMe">
	<div class="col-xs-12 col-sm-10 col-md-8 max-width col-centered">
		<p class="about-text">Hello, my name is Andrew Skrypnyk from Toronto, Canada.  I focus on programming the front-end of the web, developing functional pages that are responsive, easy to navigate, and user friendly.</p>
    </div>
</div>
        
<div class="row">
	<div class="col-xs-12 about-bkgd-fixed"></div>
</div>

<div class="row row-centered row-padding" style="background-color:#BCBCBC;">
	<div class="col-xs-12 col-sm-10 col-md-8 max-width col-centered">
        <p class="about-text">From time to time, I write <a href="https://agskryp.wordpress.com/">tutorials and blog</a> about front-end development. I also view, experiment, and practice with different styles, languages, and techniques at <a href="http://codepen.io/agskryp/">codepen</a>.</p>
    </div>
</div>

<div class="row">
	<div class="page-break" style="background-color:#171925">&nbsp;</div>
	<div class="page-break" style="background-color:#61a5cc">&nbsp;</div>
  	<div class="page-break" style="background-color:#d59907">&nbsp;</div>
    <div class="page-break" style="background-color:#c74aca">&nbsp;</div>
</div>

<div class="row row-centered row-padding" id="contactMe">
	<div class="col-xs-12 col-sm-10 col-md-8 max-width col-centered">
		<p class="about-text">The best way to get a hold of me is by e-mail, send a message to <a href="mailto:a.g.skryp@gmail.com">a.g.skryp@gmail.com</a> and I'll get back to you as soon as I can.<br>
        All comments left on my <a href="https://agskryp.wordpress.com/">blog</a> or <a href="http://codepen.io/agskryp/">pens</a> are personally read by me too!</p>
    </div>
</div>