<header class="row row-centered bkgd workbkgd v-wrap">
	<div class="col-xs-12 col-sm-10 col-md-8 max-width col-centered v-box">
    	<h1 class="home-header">Work</h1>
    	<h2 class="work-subheader main-subheader">Examples + Explainations</h2>
        <div>
        	<a ng-click="gotoLatest()" class="btn btn-lg primary-work-btn" 
        	role="button">latest project</a> 
        	<a ng-click="gotoEarliest()" class="btn btn-lg secondary-home-btn" 
        	role="button">earliest work</a>
    </div>
    	</div>
    <div style="position:absolute; left:0; right:0; bottom:0;">
        <h6 class="text-center" style="color:#BCBCBC;">Last updated on 12/28/15</h6>
    </div>
</header>

<div class="row">
	<div class="page-break" style="background-color:#2f1538">&nbsp;</div>
	<div class="page-break" style="background-color:#3d2a40">&nbsp;</div>
  	<div class="page-break" style="background-color:#605a44">&nbsp;</div>
    <div class="page-break" style="background-color:#615d54">&nbsp;</div>
</div>

<div class="row row-padding" id="latestProject" style="background-color:#BCBCBC;">
	<div class="col-xs-12 col-lg-10 col-lg-offset-2">
	<div class="col-xs-12 col-sm-6 col-lg-5">
    	<h2 class="home-title text-center">a.g.skryp (V4)</h2>
    	<p class="work-text">a.g.skryp is the homepage for front-end web developer Andrew Skrypnyk.</p>
    
    	<p class="work-text">Version 4 was built using the content management system WordPress and was developed with the purpose of learning and testing how the system works.</p>
        
        <p class="work-text">One of the challenges early on in developing the WordPress site was finding a free service that allowed the use of WordPress and all (or most) of it's functions. After discovering and registering with <a href="https://byet.host/" target="_blank">bytehost.com</a> however, it was a simple process of setting up a mysql server, uploading the WordPress files, and installing everything on the server.</p>
        
        <p class="work-text">Design for the website was based largely on the <a href="https://www.youtube.com/watch?v=sd0grLQ4voU" target="_blank">how to make a WordPress website</a> tutorial by Tyler Moore, as the main focus of this project was to learn the different tools and options WordPress has to offer.</p> 
    
    	<a href="http://agskryp.byethost9.com/" target="_blank" 
        class="btn btn-lg btn-primary pull-right">visit page</a><br><br><br>

    </div>
    
    <div class="col-xs-12 col-sm-6 col-lg-5">
    	<div id="work-img004"></div>
    </div>
    </div>
</div>

<div class="row row-padding">
	<div class="col-xs-12 col-lg-10 col-lg-offset-2">
	<div class="col-xs-12 col-sm-6 col-lg-5">
    	<div id="work-img003"></div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-lg-5">
    	<h2 class="home-title text-center">a.g.skryp (V3)</h2>
    	<p class="work-text">a.g.skryp is the homepage for front-end web developer Andrew Skrypnyk.</p>
    
    	<p class="work-text">Version 3 was designed with three main sections using the foundation framework. A home section, which introduces the user to what the website is about. A project section, cataloguing and describing the various works that have been accomplished, and an information section, giving the user additional knowledge about the web developer.</p>
 
		<p class="work-text">To add various flair to the website, the body background (behind the background images), and the home section sub-header text colour is animated. Clicking on the site navigation buttons will automatically scroll the page smoothly to its intended location, and projects images have a bubble effect via Bounce.js when a cursor hovers over them.</p>
    
    	<a href="http://agskryp.com/v3" target="_blank" 
        class="btn btn-lg btn-primary pull-right">visit page</a>
    </div>
    </div>
</div>

<div class="row row-padding" style="background-color:#BCBCBC;">
	<div class="col-xs-12 col-lg-10 col-lg-offset-2">
	<div class="col-xs-12 col-sm-6 col-lg-5">
    	<h2 class="home-title text-center">moltoDESTROYED</h2>
        <p class="work-text">moltoDESTROYED is a silly web comic.</p>
        
        <p class="work-text">The process in building moltoDESTROYED started with designing a simple and narrow interface using the Bootstrap framework that could house the long comic strips, and be able to transition well from mobile devices to desktop computers. Large buttons were used to navigate through the comics and site pages.</p>
        
        <p class="work-text">The next issue was to build a solid foundation that would be simple and easy to update with each new comic. Every comic strip needed to have its own personalized link, and the navigation between each comic had to be updated and adjusted accordingly. The Angular.js framework made all of these necessities possible by wiring everything to a single JavaScript file, and the UI Router extension gave each comic its own link.</p>
        
    	<a href="http://moltodestroyed.com" target="_blank" 
        class="btn btn-lg btn-primary pull-right">visit page</a><br><br><br>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-lg-5">
		<div id="work-img002"></div>
    </div>
    </div>
</div>

<div class="row row-padding" id="earliestWork">
	<div class="col-xs-12 col-lg-10 col-lg-offset-2">
	<div class="col-xs-12 col-sm-6 col-lg-5">
    	<div id="work-img001"></div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-lg-5">
    	<h2 class="home-title text-center">skryp6</h2>
        <p class="work-text">skryp6 is the official homepage for electronic music producer Skrypnyk.</p>
        
        <p class="work-text">The design for skryp6.com was built using the Foundation framework, and was largely inspired by the classic Amiga computers. Additional code was added to customize the mouse cursor and window scroll-bar when using the site through Chrome or Opera to better emulate an Amiga desktop, and border animation was added to the information window to emulate a guru meditation error.</p>
        
        <p class="work-text">Powered using the jQuery library, the main-screen logo glitching was developed through a forked pen by <a href="http://codepen.io/zadvorsky/pen/iwemx" target="_blank">Szenia Zadvornykh</a> using TweenMax, while the news text animation was created using Typed.js.</p>
    
    	<a href="http://skryp6.com" target="_blank" 
        class="btn btn-lg btn-primary pull-right">visit page</a>
    </div>
    </div>
</div>