.ad-container {
  clear: both;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

ins.adsbygoogle,
.google-auto-placed {
  margin: 0 0 28px;
  position: relative;

  &::before {
    content: "Advertisement by Google";
    font-size: 50%;
    display: block;
    color: $white;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: -12px;
    @media all and ( min-width: $screen-md ) {
      top: -15px;
    }
  }
}
