<section id="projects" class="row fullWidth">
  
  <div class="small-12 medium-9 medium-centered columns middle">
    
    <h1 class="section-header">Major Projects</h1><br />
    <h3 class="text-center">To learn more about these projects, press on the image</h3><br /><br />
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      
      <!-- Bubble effect for images -->
      <li class="show-for-medium-up">
        <a ui-sref="agskryp" ng-click="windowReset()"><img src="images/projects/agskrypProject.png" 
        class="img-centered animation-bubble" height="120" width="120" alt="agskryp.com" 
        title="A.G.Skryp //Front-end Web Development" /></a>
      </li>
      
      <li class="show-for-medium-up">
        <a ui-sref="molto" ng-click="windowReset()"><img src="images/projects/moltoProject.png" 
        class="img-centered animation-bubble" height="120" width="326" alt="moltodestroyed.com" 
        title="moltoDESTROYED - a silly web comic" /></a>
      </li>
      
      <li class="show-for-medium-up">
        <a ui-sref="skrypnyk" ng-click="windowReset()"><img src="images/projects/skryp6Project.png" 
        class="img-centered animation-bubble" height="120" width="200" alt="skryp6.com" 
        title="skryp6.com" /></a>
      </li>
      
      <!-- Bubble effect removed for iOS devices -->
      <li class="show-for-small-only">
        <a ui-sref="agskryp" ng-click="windowReset()"><img src="images/projects/agskrypProject.png" 
        class="img-centered" height="120" width="120" alt="agskryp.com" 
        title="A.G.Skryp //Front-end Web Development" /></a>
      </li>
      
      <li class="show-for-small-only">
        <a ui-sref="molto" ng-click="windowReset()"><img src="images/projects/moltoProject.png" 
        class="img-centered" height="120" width="326" alt="moltodestroyed.com" 
        title="moltoDESTROYED - a silly web comic" /></a>
      </li>
      
      <li class="show-for-small-only">
        <a ui-sref="skrypnyk" ng-click="windowReset()"><img src="images/projects/skryp6Project.png" 
        class="img-centered" height="120" width="200" alt="skryp6.com" 
        title="skryp6.com" /></a>
      </li>
  
    </ul>
  
  </div>
 
</section>