.comments-area {
  max-width: 600px;
  margin: 0 auto 28px;
  background: $dark-3;
  padding: 28px 0;
  border-radius: 6px;
  border: 1px solid $dark-1;
  font-size: 14px;
  @media all and ( min-width: $screen-sm ) {
    font-size: 16px;
  }

  @media all and ( min-width: $screen-xxl ) {
    max-width: 970px;
  }

  .comments-title { margin: 0 28px 28px; }

  .comment-list {
    padding: 0;
    list-style: none;
    margin: 0 0 28px;
    border-bottom: 1px solid $light-4;

    .comment-respond { 
      padding: 28px 0 0;
    }
  }

  .comment {
    padding: 28px;
    border-top: 1px solid $light-4;
  }

  .children {
    list-style: none;
    background: $dark-3;
    margin: 28px -14px 0;
    padding: 0;
    border-radius: 6px;

    .comment-body {
      padding: 28px 14px;
    }

    .comment {
      padding: 0;
      border: none;
    }

    .children {
      border-top: 1px solid $light-2;
      background: none;
      border-radius: 0;
      margin: 0;
    }

    .comment-respond { 
      padding: 0 14px 28px;
    }
  }

  .comment-meta {
    display: flex;

    .vcard {
      margin: 0 14px 28px 0;
      max-width: 64px;
      max-height: 64px;
    }

    .comment-author {
      font-size: 125%;
      flex-grow: 3;
    }

    .comment-metadata {
      font-size: 70%;
    }
  }

  .pingback {
    padding: 28px;
    border-top: 1px solid $light-4;
    font-weight: bold;

    a {
      font-weight: normal;
      margin-left: 7px;
    }

    .edit-link { float: right; }
  }

  .comment-respond {
    padding: 0 28px;

    .logged-in-as a:last-of-type { float: right; }

    .comment-reply-title {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      a { font-size: 80%; }
    }

    textarea {
      background: $light-1;
      border: 1px solid $dark-8;
      color: $white;

      &:focus {
        outline: 1px dotted $light-4;
        background: $light-2;
      }
    }

    .form-submit {
      margin: 0;

      .submit {
        padding: 0 14px;
        border: 1px solid $dark-8;
        background: $dark-8;
        color: $white;
        cursor: pointer;

        &:hover { background: $light-1; }
        &:focus { outline: 1px dotted $light-4; }
      }

      input {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  
    .comment-form-cookies-consent {    
      input {
        margin-right: 7px;
        width: auto;
      }
      
      label {
        font-size: 80%;
        display: inline-block;
        font-variant: normal;
      }
    }
  }
}
