.excerpt-list-container {
  .excerpt-header {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid $dark-3;
    padding-bottom: 14px;
  }
  
  .category-container {
    margin-bottom: 14px;

    a {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }
  }
  
  .excerpt-title {
    font-weight: 700;
    line-height: 1;
    word-wrap: break-word;
  }

  .excerpt-content {
    margin: 14px 0 0;

    p { margin: 0; }

    a {
      margin-top: 14px;
      display: inline-block;
    }
  }
}
