.site-header {
  background: url( 'assets/dark-site-background.jpg' ) no-repeat center center fixed;
  background-size: cover;
  background-color: $dark-green;
  position: fixed;
  z-index: 6;
  padding: 0;
  border-bottom: 1px solid $dark-5;

  @media all and ( min-width: $screen-md ) {
    @include flex-center();
    flex-direction: column;
    border-right: 1px solid $dark-5;
    height: 100%;
  }
  
  // @media all and ( max-height: $screen-xs ) and ( min-width: $screen-md ) {
  //   overflow-y: scroll;
  // }

  .header-background-overlay {
    width: 100%;
    height: 100%;
    background: $dark-3;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  .header-content-container {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    @media all and ( min-width: $screen-md ) {
      flex-direction: column;
    }

    .title-container {
      margin-left: 21px;
      flex-grow: 3;
      display: flex;
      align-items: center;
      @media all and ( min-width: $screen-md ) {
        flex-grow: initial;
        flex-direction: column;
        margin-left: 0;
      }

      .full-name-container {
        font-size: 50px;
        line-height: 0.5;
        font-weight: 100;
        color: $white;
        @media all and ( min-width: $screen-md ) {
          margin: 0 0 28px;
        }
      
        // @media all and ( min-width: $screen-xxl ) {
        //   font-size: 70px;
        // }
      
        &:hover,
        &:focus {
          opacity: 0.7;
        }
        
        
        span {
          display: block;
          
          &:last-of-type {
            margin-left: 22px;
            // @media all and ( min-width: $screen-xxl ) {
            //   margin-left: 31px;
            // }
          }
        }
      }

      .occupation-container {
        font-size: 28px;
        display: none;
        margin-left: 28px;
        border-left: 2px solid $light-4;
        padding-left: 28px;
  
        
        @media all and ( min-width: $screen-sm ) {
          display: flex;
          flex-direction: column;
        }
        
        @media all and ( min-width: $screen-md ) {
          display: block;
          margin-left: 0;
          border-left: none;
          padding-left: 0;
        }
        
        // @media all and ( min-width: $screen-xxl ) {
        //   font-size: 33px;
        // }
        
        span { display: block; }
      }
    }
  }
}

.main-content-container {
  margin-top: 105px;
  @media all and ( min-width: $screen-md ) {
    margin-top: 0;
  }
}
