
.occupation-title {
  font-size: 25px;
  padding-left: 0;
  border-left: none;
  margin-left: 0;
  display: none;
  margin-bottom: 28px;

  
  @media all and ( min-width: 520px ) {
    margin-left: 28px;
    border-left: 2px solid $white;
    padding-left: 28px;
  }
  
  @media all and ( min-width: 590px ) {
    display: flex;
  }
  
  @media all and ( min-width: $screen-md ) {
    display: block;
    margin-left: 0;
    border-left: none;
    padding-left: 0;
  }
  
  @media all and ( min-width: $screen-xxl ) {
    font-size: 33px;
  }
  
  span { display: block; }
}








.site-header {
  background: url( 'assets/dark-site-background.jpg' ) no-repeat center center fixed;
  background-size: cover;
  background-color: $dark-green;
  position: fixed;
  z-index: 6;
  padding: 0;
  border-right: none;
  border-bottom: 1px solid $dark-8;
  height: 104px;
  @media all and ( min-width: $screen-md ) {
    @include flex-center();
    flex-direction: column;
    border-right: 1px solid $dark-3;
    height: 100%;
  }
  
  @media all and ( max-height: $screen-xs ) and ( min-width: $screen-md ) {
    overflow-y: scroll;
  }
}

.main-content-container {
  margin-top: 105px;
  @media all and ( min-width: $screen-md ) {
    margin-top: 0;
  }
}
