.site-navigation {
  max-width: 320px;
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 6;
  margin-top: -44px;
  @media all and ( min-width: $screen-md ) {
    margin-top: 0;
    position: relative;
    max-width: none;
  }
  
  svg {
    color: $white;
    fill: $white;
  }
  
  span {
    display: none;
    @media all and ( min-width: 645px ) {
      display: inline-block;
      margin-right: 7px;
    }
  }
}

.main-nav-button {
  display: inline-flex;
  flex-direction: column-reverse;
  float: right;
  margin-top: -60px;
}



.menu-toggle {
  @include flex-center;
  box-sizing: border-box;
  height: 52px;
  background: $dark-5;
  color: $white;
  border: 1px solid $dark-8;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  float: right;
  margin: 0 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px;

  &:hover,
  &:active,
  &.on {
    background: $light-1;
    border-color: $dark-8;
  }
  
  &:focus {
    border-color: $dark-8;
    outline: 1px dotted $white;
  }

  @media screen and ( min-width: $screen-md ) {
    display: none;
  }
}









.main-navigation {
  clear: both;
  display: block;
  background: $dark-green;
  border-left: 1px solid $dark-5;
  @media all and ( min-width: $screen-md ) {
    background: none; 
    border-left: none;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    border-top: 1px solid $dark-5;
    @media screen and ( min-width: $screen-md ) {
      display: block;
    }
    
    li {
      text-transform: uppercase;
      font-size: 12px;
      border-bottom: 1px solid $dark-5;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 14px 0; 
      font-weight: 700;
      color: $white;
      &:hover {
        background: $light-1;
      }
    }
  }
}


/* Small menu. */
.main-navigation.toggled ul {
  display: block;
  clear: both;
}








