.main-search-form form {
  @include zero-cushion;
  display: none;
  text-align: center;
  background: $dark-green;
  border: 1px solid $dark-5;
  border-right: none;
  @media all and ( min-width: $screen-md ) {
    background: none; 
    border: none;
  }
  
  label { margin: 14px 0; }
  
  input {
    background: $light-1;
    border: 1px solid $dark-8;
    padding: 4px 8px;
    color: $white;
    border-radius: 8px 0 0 8px;
    &:focus {
      outline: 1px dotted $white;     
      color: $white;
      background: $light-2;
    }
    
    &:active {
      color: $white;
      background: $light-2;
    }
    
    &::placeholder {
      color: $light-4;
    }
  }
  
  input[ type=submit ] {
    margin: 0 0 0 -1px;
    border: none;
    padding: 0 14px;
    height: 34px;
    border: 1px solid $dark-8;
    background: $dark-8;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    &:focus {
      outline: 1px dotted $white;
      background: $light-1;
    }
    
    &:hover {
      background: $light-1;
    }
  }
}

.main-search-form.toggled form {
  @include flex-center;
  clear: both;
}


@media screen and ( min-width: $screen-md ) {  
  .main-search-form form {
    @include flex-center;
  }
}
