.main-search-form {
  position: relative;
  z-index: 7;

  form {
    display: none;
    background: none;
    border: 1px solid $dark-5;
    border-top: none;
    border-right: none;
    font-size: 16px;
    @media all and ( min-width: $screen-md ) {
      @include flex-center;
      border: none;
    }
    
    label { margin: 14px 0; }
    
    input {
      background: $light-1;
      border: 1px solid $dark-8;
      padding: 4px 8px;
      color: $white;
      border-radius: 6px 0 0 6px;
      
      &:active,
      &:focus {
        color: $white;
        background: $light-2;
      }

      &:focus { outline: 1px dotted $white; }
      &::placeholder { 
        font-family: 'Lato', sans-serif;
        color: $light-4; 
      }
    }
    
    input[ type=submit ] {
      margin: 0 0 0 -1px;
      border: none;
      padding: 0 14px;
      height: 34px;
      border: 1px solid $dark-8;
      background: $dark-8;
      font-size: 12px;
      border-radius: 0 6px 6px 0;
      cursor: pointer;
      font-weight: 700;
      text-transform: uppercase;
      
      &:hover,
      &:focus {
        background: $light-1;
      }

      &:focus { outline: 1px dotted $white; }
    }
  }

  &.toggled form {
    @include flex-center;
    clear: both;
  }
}
