.social-links {
  display: none;
  flex-direction: column-reverse;
  float: right;
  margin-top: -54px;
  margin-right: 14px;
  @media all and ( min-width: 350px ) {
    display: inline-flex
  }
  
  @media all and ( min-width: $screen-md ) {
    // @include flex-center;
    flex-direction: row;
    float: none;
    margin: 0 0 14px;
  }
  
  a {
    margin: 9px 0;
    @media all and ( min-width: $screen-md ) {
      margin: 0 14px;  
    }
    
    &:focus,
    &:hover {
      svg {
        fill: $orange;
      }
    }
  }
}
