.social-links {
  margin-bottom: 14px;
  text-align: center;

  a {
    margin: 14px;
    // @media all and ( min-width: $screen-md ) {
    //   margin: 0 14px;  
    // }
    
    &:focus,
    &:hover {
      svg { fill: $orange; }
    }
  }
}
