p {
  margin-bottom: 1.5em;
}

dfn, em, i {
  font-style: italic;
}

cite {
  margin-left: 5px;
  @include font-size( 0.9 );
  font-style: italic;
  font-weight: bold;
}

blockquote {
  margin: 0 $grid__pixel-7 $grid__pixel-28;
  background: $color__dark-30;
  border-left: 6px solid $color__dark-50;
  padding: ( $grid__pixel-7 * 2 );
  @media all and ( min-width: $screen__sm ) {
    margin: 0 $grid__pixel-28 $grid__pixel-28;
  }
  
  p {
    margin: 0;
  }
}

address {
  margin: 0 0 1.5em 1.5em;
  @include font-size( 1.1 );
}

pre {
  background: $color__background-pre;
  color: $color__soft-green;
  font-family: $font__pre;
  @include font-size( 0.9375 );
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: $font__code;
  @include font-size( 0.9375 );
  color: $color__soft-green;
}

kbd {
  background: $color__dark-50;
}

abbr, acronym {
  border-bottom: 1px dotted $color__border-abbr;
  cursor: help;
}

mark, ins {
  background: $color__background-ins;
  text-decoration: none;
  color: $color__dark-80;
}

big {
  @include font-size( 1.25 );
}

q::before,
q::after {
  font-weight: bold;
  @include font-size( 1.1 );
}
