h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.h1, h1 {
  font-size: 2.25em;
  margin: 0 0 .5rem;
  line-height: 0.8;
  @media all and ( min-width: 360px ) {
    font-size: 3em;
  }
}

.h2, h2 {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: .5rem;
  margin-top: 0;
  @media all and ( min-width: 360px ) {
    font-size: 2em;
  }
}
 
.h3, h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 500;
  line-height: 1.2;
  @media all and ( min-width: 360px ) {
    font-size: 1.55em;
  }
}
