$screen-xs:  480px;
$screen-sm:  600px; // 520px || 560px || 615px
$screen-md:  768px;
$screen-lg:  992px;
$screen-xl:  1200px;
$screen-xxl: 1600px;

$grid__pixel-28: 28px;
$grid__pixel-7:   7px;
$grid__pixel-8:   8px;

$grid__padding: 1.5em;

$border-radius:   6px;
