.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  max-width: 600px;
  margin: 0 auto $grid__pixel-28;
  background: $color__dark-30;
  padding: $grid__pixel-28 0 0;
  border-radius: $border-radius;
  border: 1px solid $color__dark-10;
  font-size: 14px;
  @media all and ( min-width: $screen__sm ) {
    font-size: 16px;
  }
   @media all and ( min-width: $screen__xd ) {
    max-width: 970px;
  }

  .comments-title {
    padding: 0 $grid__pixel-28 $grid__pixel-28;
    margin: 0;
  }

  .comment-list {
    padding: 0;
    list-style: none;
    margin: 0 0 $grid__pixel-28;
    border-bottom: 1px solid $color__soft-white;
  }

  .comment {
    padding: $grid__pixel-28 $grid__pixel-28 0;
    border-top: 1px solid $color__soft-white;
  }

  .children {
    list-style: none;
    background: $color__dark-30;
    padding-left: 0.5em;
    margin: 0 -( $grid__pixel-7 * 2 ) $grid__pixel-28;
    border: 1px solid $color__dark-10;
    border-radius: $border-radius;

    .comment {
      padding: $grid__pixel-28 ( $grid__pixel-7 * 2 ) 0;
    }

    .children {
      background: none;
      margin: 0 0 0 -0.5em;
      border: none;

      .comment {
        padding: 0;
      }

      .comment-body {
        padding-top: $grid__pixel-28;
      }
    }
  }

  .comment-meta {
    @include flex;

    .vcard {
      margin: 0 ( $grid__pixel-7 * 2 ) ( $grid__pixel-7 * 2 ) 0;
    }

    .comment-author {
      font-size: 125%;
      @include flex-grow( 3 );
    }

    .comment-metadata {
      font-size: 70%;
    }
  }

  .reply {
    padding-bottom: $grid__pixel-28;
  }

  .comment-content {
    ol, ul {
      margin-bottom: $grid__pixel-28;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
      margin-bottom: 0;
    }
  }

  .pingback {
    padding: $grid__pixel-28;
    border-top: 1px solid $color__soft-white;
    font-weight: bold;

    a {
      font-weight: normal;
      margin-left: .5em;
    }

    .edit-link {
      float: right;
      margin: 0;
    }
  }

  .comment-respond {
    padding: 0 $grid__pixel-28;

    .logged-in-as a:last-of-type {
      margin-left: .5em;
    }

    textarea {
      background: $color__light-10;
      border: 1px solid $color__dark-80;
      color: $color__soft-white;
      &:focus {
        outline: 1px dotted $color__soft-white;
        background: $color__light-20;
      }
    }

    .submit {
      margin: 0;
      padding: 0 ( $grid__pixel-7 * 2 );
      height: 34px;
      margin-left: -1px;
      border: 1px solid $color__dark-80;
      background: $color__dark-80;
      color: $color__soft-white;
      cursor: pointer;
      &:hover {
        background: $color__light-10;
      }
      
      &:focus {
        outline: 1px dotted $color__soft-white;
      }
    }
  }

  .no-comments {
    border-top: 1px solid $color__soft-white;
    padding-top: $grid__pixel-28;
    margin-bottom: $grid__pixel-28;
  }
  
  .comment-form-author,
  .comment-form-email,
  .comment-form-url,
  .comment-form-cookies-consent {    
    label {
      display: block;
      margin: 0;
    }
    
    input {
      background: $color__light-10;
      border: 1px solid $color__dark-80;
      color: $color__soft-white;
      &:focus {
        outline: 1px dotted $color__soft-white;
        background: $color__light-20;
      }
    }
  }
  
  .comment-form-cookies-consent {    
    input {
      margin-right: $grid__pixel-7;
    }
    
    label {
      font-size: 80%;
      display: inline-block;
    }
  }
  
  .form-submit input {
    text-transform: uppercase;
    font-weight: 700;
  }
}
