ul, ol {
  margin: 0 0 28px;
  padding-left: 56px;
  clear: both;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-left: -0.5em;
  padding-bottom: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  padding-left: 28px;
}

ol li {
  padding-left: 6px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5em 1.5em;
}
