$color__soft-white:  #c3c3c3;
$color__soft-orange: #9f8b68;
$color__soft-green:  #78a58f;
$color__soft-blue:   #9191e5;

$color__dark-green:  #132118;
$color__dark-80:     rgba( 0, 0, 0, 0.8 );
$color__dark-50:     rgba( 0, 0, 0, 0.5 );
$color__dark-30:     rgba( 0, 0, 0, 0.3 );
$color__dark-10:     rgba( 0, 0, 0, 0.1 );

$color__light-10:    rgba( 200, 200, 200, 0.1 );
$color__light-20:    rgba( 200, 200, 200, 0.2 );
$color__light-40:    rgba( 200, 200, 200, 0.4 );
$color__light-80:    rgba( 200, 200, 200, 0.8 );

$color__background-body: $color__dark-green;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: $color__dark-50;
$color__background-ins: $color__soft-orange;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__soft-blue;
$color__link-visited: $color__soft-blue;
$color__link-hover: $color__soft-orange;
$color__text-main: $color__soft-white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
