.site-footer {
  background: $color__dark-50;
  margin: 0 -15px;
  padding: ( $grid__pixel-28 * 2 );
  border-top: 1px solid $color__dark-10;
  font-size: .9em;
  
  .social-links a {
    margin: 0 $grid__pixel-7;
  }
  
  a {
    color: $color__soft-white;
    &:hover {
      color: $color__link-hover;
      
      svg {
        fill: $color__link-hover;
      }
    }
    
    svg {
      fill: $color__soft-white;
    }
  }
  
  .footer-info {
    @include flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @media all and ( min-width: $screen__lg ) {
      flex-direction: row;
      align-items: flex-end;
      max-width: $screen__lg;
      margin: 0 auto;
    }
    
    p {
      margin: 0 0 .5em;
      @media all and ( min-width: $screen__lg ) {
        margin: 0; 
      }
    }
    
    .privacy-policy {
      order: 3;
      text-align: center;
      font-size: 80%;
      @media all and ( min-width: $screen__lg ) {
        order: 1;
        text-align: left;
      }
    }
    
    .copyright {
      order: 1;
      @media all and ( min-width: $screen__lg ) {
        order: 2;
      }
    }
    
    .designed-by {
      order: 2;
      text-align: center;
      font-size: 80%;
      @media all and ( min-width: $screen__lg ) {
        order: 3;
        text-align: right;
      }
    }
  }
}
