.homepage-screen {
  display: block;
  overflow: auto;
  
  @media screen and ( min-width: $screen-md ) {
    @include flex-center;
    flex-direction: column;
    height: 100vh;
  }
  
  .site-branding {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 28px 28px 0;
    
    @media all and ( min-width: $screen-md ) {
      flex-direction: row;
      padding: 56px 56px 0;
    }
    
    @media all and ( min-width: $screen-lg ) {
      padding: 0 56px 28px;
    }
  }
  
  h1 {
    font-size: 3.2em;
    font-weight: 100;
    
    @media all and ( min-width: $screen-xs ) {
      font-size: 4.4em;
    }
    
    @media all and ( min-width: $screen-lg ) {
      font-size: 6em;
    }
    
    span:last-of-type {
      margin-left: 23px; 
      
      @media all and ( min-width: $screen-xs ) {
        margin-left: 35px;
      }
      
      @media all and ( min-width: $screen-lg ) {
        margin-left: 48px;
      }
      
      @media all and ( min-width: $screen-xxl ) {
        margin-left: 53px;
      }
    }
  }
  
  .occupation-title {
    margin: 0;
    padding: 0;
    display: block;
    border-left: none !important;  // !important necessary for animation and screen breaks
    
    @media all and ( min-width: $screen-md ) {
      padding-left: 28px;
      margin-left: 28px;
      border-left: 2px solid $white !important;  // !important necessary for animation and screen breaks
    }
    
    span {
      position: relative; // For TweenMax animation
    }
    
    h2 {
      font-size: 1.1em;
      margin: 0;
      @media all and ( min-width: $screen-xs ) {
        font-size: 1.5em;
      }
      
      @media all and ( min-width: $screen-lg ) {
        font-size: 1.8em;
      }
    }
  }
  
  .homepage-container {
    padding: 0;
    margin: 0 28px;
    list-style: none;
    @media screen and ( min-width: $screen-lg ) {
      display: flex;
      justify-content: center;
    }
  }

  .homepage-menu-item {
    @include flex-center;
    background: $dark-3;
    border: 1px solid $dark-1;
    border-radius: 6px;
    padding: 28px;
    margin: 28px auto;
    text-align: center;
    max-width: 440px;
    position: relative; // For TweenMax animation
    flex-direction: column;
    @media all and ( min-width: $screen-sm ) {
      height: 150px;
      max-width: 600px;
      margin: 28px auto;
      flex-direction: row;
    }
    
    @media all and ( min-width: $screen-lg ) {
      height: 100%;
      width: 300px;
      margin: 28px 14px 0;
      flex-direction: column;
    }
    
    svg {
      fill: $green;
    }
    
    p {
      color: $white;
      max-width: 320px;
      margin: 14px auto 28px;
      @media all and ( min-width: $screen-sm ) {
        margin: 0 28px;
        padding: 0;
      }
      
      @media all and ( min-width: $screen-md ) {
        margin: 0;
        padding: 0 28px;
      }
      
      @media all and ( min-width: $screen-lg ) {
        margin: 14px auto 28px;
        padding: 0;
      }
    }
    
    a {
      color: $white;
      border: 1px solid $dark-8;
      background: $dark-8;
      border-radius: 6px;
      cursor: pointer;
      padding: 7px;
      width: 80%;
      max-width: 160px;
      text-transform: uppercase;
      font-weight: 700;
      
      &:hover,
      &:focus {
        background: $light-1;
      }
    }
  }
}

.site-branding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0 0 0 28px;
  @media all and ( min-width: $screen-md ) {
    display: block;
    margin: 0;
  } 
}

.full-name-container {
  font-size: 50px;
  line-height: 0.5;
  font-weight: 100;
  color: $white;
  display: block;
  // text-align: center;
  // margin: 22px;
  //////////////////////////
  @media all and ( min-width: $screen-md ) {
    margin: 0 0 28px;
  }

  @media all and ( min-width: $screen-xxl ) {
    font-size: 70px;
  }

  &:hover,
  &:focus {
    color: $white;
    opacity: 0.7;
  }
  
  
  span {
    display: block;
    // margin-left: -47px;
    
    &:last-of-type {
      margin-left: 22px;
      @media all and ( min-width: $screen-xxl ) {
        margin-left: 31px;
      }
    }
  }
}