.front-page-container {
  display: block;
  padding: 0;
  @media all and ( min-width: $screen-md ) {
    @include flex-center;
    flex-direction: column;
    padding: 28px 0;
    min-height: 100vh;
  }

  .header-container {
    @include flex-center;
    flex-direction: column;
    margin: 0;
    padding: 28px 28px 0;
    @media all and ( min-width: $screen-md ) {
      flex-direction: row;
      padding: 56px 56px 0;
    }
    
    @media all and ( min-width: $screen-lg ) {
      padding: 0 56px 28px;
    }

    .name-container {
      display: block;
      font-weight: 100;
      margin: 0 0 28px;
      @media all and ( min-width: $screen-xs ) {
        font-size: 74px;
      }
      
      @media all and ( min-width: $screen-lg ) {
        font-size: 108px;
      }
      
      span {
        opacity: 0;
        margin-left: -112px;
        
        &:last-of-type {
          margin-right: -112px;

          @media all and ( min-width: $screen-xs ) {
            margin-left: 33px;
          }
          
          @media all and ( min-width: $screen-lg ) {
            margin-left: 48px;
          }
        }
      }
    }

    .occupation-container {
      margin: 0;
      padding: 0;
      display: block;
      border-left: none !important;  // !important necessary for animation and screen breaks
      font-size: 22px;
      @media all and ( min-width: $screen-xs ) {
        font-size: 32px;
      }
      
      @media all and ( min-width: $screen-md ) {
        padding-left: 56px;
        margin-left: 56px;
        border-left: 2px solid $light-8 !important;  // !important necessary for animation and screen breaks
        font-size: 36px;
      }
  
      @media all and ( min-width: $screen-lg ) {
        font-size: 46px;
      }
      
      span {
        display: inline-block;
        position: relative; // For TweenMax animation
        bottom: 36px;
        opacity: 0;
        @media all and ( min-width: $screen-md ) {
          display: block;
        }
      }
    }
  }

  .menu-container {
    margin: 0 28px;
    text-align: center;

    .menu-item {
      @include flex-center;
      margin: 28px auto;
      position: relative; // For TweenMax animation
      flex-direction: column;
      bottom: 66px;
      opacity: 0;

      @media all and ( min-width: $screen-sm ) {
        max-width: 600px;
        flex-direction: row;
      }
      
      @media all and ( min-width: $screen-lg ) {
        height: 100%;
        margin: 0 14px 28px;
        display: inline-block;
        max-width: 300px;
      }
      
      svg {
        width: 100%;
        max-width: 56px;
        max-height: 56px;
        fill: $green;

        path { fill: $green; }
      }
      
      p {
        margin: 14px auto 28px;
        padding: 0;
        @media all and ( min-width: $screen-sm ) {
          margin: 0 28px;
        }

        @media all and ( min-width: $screen-lg ) {
          margin: 14px auto 28px;
        }
      }

      a {
        color: $white;
        border: 1px solid $dark-8;
        background: $dark-8;
        border-radius: 6px;
        padding: 7px;
        max-width: 160px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        
        &:hover,
        &:focus {
          background: $light-1;
        }
      }
    }
  }
}
