.portfolio-page-container {
   .portfolio-item-container {
    margin: 0 14px 28px;
    display: inline-block;
    width: 100%;
    @media all and ( min-width: $screen-xxl ) {
      max-width: 970px;
    }

    &:hover,
    &:focus {
      img { opacity: .8; }
    }

    img {
      max-height: 190px;
      object-fit: contain;
    }

    h2 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      margin: 7px 0 0;
    }
  }
}
