.page-header {
  text-align: center;
  padding: 56px 0;

  .page-title {
    line-height: 1;
    font-weight: 100;
    max-width: 850px;
    margin: 0 auto;
    word-wrap: break-word;
  }
}

.main-content-column {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main { flex-grow: 2; }
}

.content-container {
  max-width: 600px;
  margin: 0 auto 28px;
  background: $dark-3;
  padding: 28px;
  border-radius: 6px;
  border: 1px solid $dark-1;
  @media all and ( min-width: $screen-xxl ) {
    max-width: 800px;
  }
  
  li {
    margin-bottom: 14px;
    line-height: 1.3;
  }
}

.load-more-container {
  margin: 56px 0;
  font-weight: bold;
}
