.version9-post-container {
  .meta-container {
    font-size: 80%;
    margin-top: 14px;
    font-weight: bold;
  }

  h2 { clear: none; }
  ul { clear: both; }

  a img {
    margin: 28px auto;
    display: block;

    &:hover,
    &:focus {
      opacity: .8;
    }

    &.alignleft {
      margin: 28px auto;
      float: none;    
      @media all and ( min-width: $screen-xs ) {
        margin: 28px 28px 28px 0;
        float: left;
      }
    }

    &.alignright {
      margin: 28px auto;
      float: none;
      @media all and ( min-width: $screen-xs ) {
        margin: 28px 0px 28px 28px;
        float: right;
      }
    }
  }

  .screen-shot {
    font-size: 80%;
    font-style: italic;
  }
}
