.site-navigation {
  max-width: 320px;
  width: 100%;
  margin-top: 0;
  position: absolute;
  right: 0;
  z-index: 6;
  @media all and (min-width: 576px) {
    margin-top: -44px;
  }

  @media all and (min-width: 992px) {
    margin-top: 0;
    position: relative;
  }
}

.main-navigation {
  clear: both;
  display: block;
  background: rgba( 0, 0, 0, 0.4 );
  @media all and (min-width: 992px) {
    background: none; 
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    border-top: 1px solid rgba( 0, 0, 0, 0.4 );
    
    li {
      text-transform: uppercase;
      font-size: 12px;
      border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
    }

    a {
      display: block;
      text-decoration: none;
      padding: 14px 0;
    }
  }
}

.main-search-form form {
  display: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
  background: rgba( 0, 0, 0, 0.4 );
  @media all and (min-width: 992px) {
    background: none; 
  }
}

/* Small menu. */

.main-navigation.toggled ul,
.main-search-form.toggled form {
  display: block;
  clear: both;
}

.menu-toggle {
  box-sizing: border-box;
  display: block;
  height: 44px;
  background: rgba( 0, 0, 0, 0.4 );
  color: $color__text-main;
  border: 1px solid rgba( 0, 0, 0, 0.8 );
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  float: right;
  margin: 0 2px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    border-color: rgba( 0, 0, 0, 0.8 );
    outline: none;
    background: rgba( 255, 255, 255, 0.01 );
  }
}

@media screen and ( min-width: 992px ) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul,
  .main-search-form form {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
