.site-navigation {
  max-width: 320px;
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 6;
  margin-top: -44px;
  @media all and (min-width: 768px) {
    margin-top: 0;
    position: relative;
    max-width: none;
  }
  
  svg {
    color: $color__text-main;
    fill: $color__text-main;
  }
  
  span {
    display: none;
    @media all and ( min-width: 615px ) {
      display: inline-block;
      margin-right: 7px;
    }
  }
}

.main-navigation {
  clear: both;
  display: block;
  background: #132118;
  border-left: 1px solid rgba( 0, 0, 0, 0.4 );
  @media all and (min-width: 768px) {
    background: none; 
    border-left: none;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    border-top: 1px solid rgba( 0, 0, 0, 0.4 );
    
    li {
      text-transform: uppercase;
      font-size: 12px;
      border-bottom: 1px solid rgba( 0, 0, 0, 0.4 );
    }

    a {
      display: block;
      text-decoration: none;
      padding: 14px 0;
      &:hover {
        background: rgba( 200, 200, 200, 0.1 );
      }
    }
  }
}

.main-search-form form {
  display: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
  background: #132118;
  border: 1px solid rgba( 0, 0, 0, 0.4 );
  border-right: none;
  @media all and (min-width: 768px) {
    background: none; 
    border: none;
  }
  
  label {
    margin: .5rem 0;
    color: $color__text-main;
  }
  
  input {
    background: rgba( 200, 200, 200, 0.1 );
    border: 1px solid rgba( 0, 0, 0, 0.8 );
    color: $color__text-main;
    padding: 4px 8px;
    border-radius: 8px 0 0 8px;
    &:focus,
    &:active {
      outline: 1px dotted rgba( 0, 0, 0, 0.4 );      
    }
    
    &::placeholder {
      color: $color__text-main;
    }
  }
  
  input[type="submit"] {
    margin: 0;
    border: none;
    padding: 12px 12px;
    height: 36px;
    margin-left: -5px;
    border: 1px solid rgba( 0, 0, 0, 0.8 );
    background: rgba( 0, 0, 0, 0.8 );
    border-radius: 0 8px 8px 0;
  }
}

/* Small menu. */
.main-navigation.toggled ul,
.main-search-form.toggled form {
  display: block;
  clear: both;
}

.menu-toggle {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  background: rgba( 0, 0, 0, 0.4 );
  color: $color__text-main;
  border: 1px solid rgba( 0, 0, 0, 0.8 );
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  float: right;
  margin: 0 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px;
  &:hover,
  &:active {
    background: rgba( 200, 200, 200, 0.1 );
    border-color: rgba( 0, 0, 0, 0.8 );
  }
  &:focus {
    border-color: rgba( 0, 0, 0, 0.8 );
    outline: 1px dotted $color__text-main;
  }
  
  &.on {
    background: rgba( 200, 200, 200, 0.1 );
  }
}

@media screen and ( min-width: 768px ) {
  .menu-toggle {
    display: none;
  }
  
  .main-navigation ul,
  .main-search-form form {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
