.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
    border-top: 1px solid white;
    
    li {
      text-transform: uppercase;
      font-size: .8em;
      border-bottom: 1px solid white;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 14px 0;
    }
  }
}

.main-search-form form {
     display: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
}

/* Small menu. */

.main-navigation.toggled ul,
.main-search-form.toggled form {
  display: block;
  clear: both;
}

.menu-toggle {
  display: block;
  height: 40px;
  background: rgba(0,0,0,.5);
  color: white;
  border: none;
  float: right;
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
}

@media screen and (min-width: 992px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul,
  .main-search-form form {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
