*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: url( 'assets/dark-site-background.jpg' ) no-repeat center center fixed;
  background-size: cover;
  background-color: $dark-green;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: $white;
  line-height: 1.5;
  @media all and ( min-width: $screen-xs ) {
    font-size: 18px;
  }
  
  @media all and ( min-width: $screen-xxl ) {
    font-size: 20px;
  }
}

hr {
  background-color: $white;
  border: 0;
  opacity: 0.5;
  height: 1px;
  margin-bottom: 28px;
}

img {
  height: auto;
  max-width: 100%;
}

svg {
  color: $white;
  fill: $white;
}

a {
  color: $blue;
  text-decoration: none; 
  
  &:hover,
  &:focus,
  &:active {
    color: $orange;
    text-decoration: none;
  }
  
  &:focus { outline: thin dotted;
  }
  
  &:hover,
  &:active {
    outline: 0;
  }
}
