button {
  color: $white;
  line-height: 1.5;
}

a { text-decoration: none; }

p { margin: 0 0 28px; }

h1 {
  font-size: 2.25em;
  margin: 0 0 .5rem;
  line-height: 0.8;
  @media all and ( min-width: 360px ) {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: .5rem;
  margin-top: 0;
  @media all and ( min-width: 360px ) {
    font-size: 2em;
  }
}
 
h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 500;
  line-height: 1.2;
  @media all and ( min-width: 360px ) {
    font-size: 1.55em;
  }
}

pre {
  background: $dark-5;
  color: $green;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px;
  color: $green;
  background: $dark-5;
  line-height: 1.6;
  padding: 3px 6px;
}

del {
  opacity: .5;
}
