h1 {
  font-size: 40px;
  line-height: 0.8;
  @media all and ( min-width: $screen-xxs ) {
    font-size: 54px;
  }
}

h2 {
  font-size: 31px;
  font-weight: 400;
  margin: 0 0 7px;
  @media all and ( min-width: $screen-xxs ) {
    font-size: 36px;
  }
}
 
h3 {
  font-size: 26px;
  margin: 0 0 7px;
  font-weight: 500;
  line-height: 1.2;
  @media all and ( min-width: $screen-xxs ) {
    font-size: 28px;
  }
}

p { margin: 0 0 28px; }

pre {
  background: $dark-5;
  color: $green;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 28px;
  overflow: auto;
  padding: 28px;
}

code, kbd {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px;
  color: $green;
  background: $dark-5;
  padding: 3px 6px;
}

del { opacity: .5; }
