body,
button,
input,
textarea {
  color: $color__text-main;
  font-family: $font__main;
  @include font-size( 1 );
  line-height: $font__line-height-body;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 28px;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

h1 {
  font-size: 2.25em;
  margin: 0 0 .5rem;
  line-height: 0.8;
  @media all and ( min-width: 360px ) {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: .5rem;
  margin-top: 0;
  @media all and ( min-width: 360px ) {
    font-size: 2em;
  }
}
 
h3 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 500;
  line-height: 1.2;
  @media all and ( min-width: 360px ) {
    font-size: 1.55em;
  }
}


pre {
  background: $color__background-pre;
  color: $color__soft-green;
  font-family: $font__pre;
  @include font-size( 0.9375 );
  line-height: $font__line-height-pre;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd {
  font-family: $font__code;
  @include font-size( 0.9375 );
  color: $color__soft-green;
  background: $color__background-pre;
  line-height: $font__line-height-pre;
  padding: 3px 6px;
}
