.footer-container {
  background: $dark-5;
  margin: 0 -15px;
  padding: 56px;
  border-top: 1px solid $dark-1;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 80%;
    @media all and ( min-width: $screen-lg ) {
      flex-direction: row;
      align-items: flex-end;
      max-width: $screen-lg;
      margin: 0 auto;
    }

    .privacy-container {
      order: 3;
      text-align: center;
      @media all and ( min-width: $screen-lg ) {
        order: 1;
        text-align: left;
      }
    }

    .copyright-container {
      order: 1;
      text-align: center;
      @media all and ( min-width: $screen-lg ) {
        order: 2;
      }
    }

    .credit-container {
      order: 2;
      text-align: center;
      @media all and ( min-width: $screen-lg ) {
        order: 3;
        text-align: right;
      }
    }

    a {
      color: $white;

      svg { fill: $white; }

      &:hover,
      &:focus {
        color: $orange;
        
        svg { fill: $orange; }
      }
    }
  }
}
