.contact-form form {
  margin: 0;
  padding-left: 0;
  border-right: none;
  @media all and ( min-width: $screen__md ) { 
  }
  
  p {
    margin: 0;
  }
  
  label {
    margin: ( $grid__pixel-7 * 2 ) 0;
    width: 100%;
  }
  
  input,
  textarea {
    background: $color__light-10;
    width: 100%;
    border: 1px solid $color__dark-80;
    padding: ( $grid__pixel-8 / 2 ) $grid__pixel-8;
    color: $color__text-main;
    border-radius: $grid__pixel-8;
    &:focus {
      outline: 1px dotted $color__text-main;     
      color: $color__text-main;
      background: $color__light-20;
    }
    
    &:active {
      color: $color__text-main;
      background: $color__light-20;
    }
    
    &::placeholder {
      color: $color__light-40;
    }
  }
  
  input[ type="submit" ] {
    margin: 0;
    width: auto;
    float: right;
    padding: 0 28px;
    border: none;
    height: 34px;
    border: 1px solid $color__dark-80;
    background: $color__dark-80;
    border-radius: $grid__pixel-8;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    &:focus {
      outline: 1px dotted $color__text-main;
      background: $color__light-10;
    }
    
    &:hover {
      background: $color__light-10;
    }
  }
}
