.homepage-screen {
  display: block;
  background: $color__dark-30;
  @media screen and ( min-width: 768px ) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }
  
  .site-branding {
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 28px 28px 0;
    @media all and ( min-width: $screen__md ) {
      flex-direction: row;
      padding: 56px 56px 28px;
    }
    
    @media all and ( min-width: $screen__lg ) {
      padding: 0 56px 28px;
    }
  }
  
  h1 {
    font-size: 3.2em;
    font-weight: 100;
    @media all and ( min-width: $screen__xs ) {
      font-size: 4.4em;
    }
    
    @media all and ( min-width: $screen__lg ) {
      font-size: 6.4em;
    }
    
    span:last-of-type {
      margin-left: 23px; 
      @media all and ( min-width: $screen__xs ) {
        margin-left: 31px;
      }
      
      @media all and ( min-width: $screen__lg ) {
         margin-left: 45px;
      }
    }
  }
  
  .site-description {
    display: block;
    margin: 0;
    border-left: none;
    padding: 0;
    @media all and ( min-width: $screen__md ) {
      padding-left: 28px;
      margin-left: 28px;
      border-left: 2px solid $color__soft-white;
    }
    
    h2 {
      font-weight: bold;
      line-height: .9;
      font-size: 1.1em;
      margin: 0;
      @media all and ( min-width: $screen__xs ) {
        font-size: 1.4em;
      }
      
      @media all and ( min-width: $screen__lg ) {
        font-size: 2em;
      }
    }
  }
  
  .homepage-container {
    padding: 0;
    margin: 0 28px;
    list-style: none;
    @media screen and ( min-width: $screen__lg ) {
      display: flex;
      justify-content: center;
    }
  }

  .homepage-menu-item {
    background: $color__dark-30;
    border: 1px solid $color__dark-10;
    border-radius: 6px;
    padding: 28px;
    margin: 28px auto;
    text-align: center;
    max-width: 440px;
    position: relative; // For TweenMax animation
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media all and ( min-width: $screen__sm ) {
      height: 150px;
      max-width: 600px;
      margin: 28px auto;
      flex-direction: row;
    }
    
    @media all and ( min-width: $screen__lg ) {
      height: 100%;
      width: 300px;
      margin: 28px 14px 0;
      flex-direction: column;
    }
    
    svg {
      fill: $color__soft-green;
    }
    
    p {
      color: $color__text-main;
      max-width: 320px;
      margin: 14px auto 28px;
      @media all and ( min-width: $screen__sm ) {
        margin: 0 28px;
      }
      
      @media all and ( min-width: $screen__md ) {
        margin: 0;
      }
      
      @media all and ( min-width: $screen__lg ) {
        margin: 14px auto 28px;
      }
    }
    
    a {
      color: $color__text-main;
      border: 1px solid rgba(0, 0, 0, 0.8);
      background: rgba(0, 0, 0, 0.8);
      display: block;
      border-radius: 8px;
      cursor: pointer;
      padding: 6px;
      width: 60%;
      margin: 0 auto;
      font-weight: normal;
      font-size: 1em;
      max-width: 140px;
      &:hover,
      &:focus {
        background: $color__light-10;
      }
    }

  }
}
