.homepage-screen {
  display: block;
  background: $color__dark-30;
  
  .site-branding {
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 3em 3em 0;
    @media all and ( min-width: $screen__md ) {
      flex-direction: row;
    }
  }
  
  .site-title {
    font-size: 3.6em;
    font-weight: 100;
    @media all and ( min-width: $screen__sm ) {
      font-size: 5em;
    }
  }
  
  .site-description {
    display: block;
    margin: 0;
    
    h2 {
      font-weight: bold;
      line-height: 1;
      font-size: 1.2em;
    }
  }
  
  .homepage-container {
    padding: 0;
    margin: 0 28px;
    list-style: none;
  //  max-width: 60em;
  }

  .homepage-menu-item {
    background: $color__dark-30;
    border: 1px solid $color__dark-10;
    border-radius: 6px;
    padding: 28px;
    margin: 28px auto;
    text-align: center;
    max-width: 440px;
    position: relative; // For TweenMax animation
    @media all and ( min-width: $screen__sm ) {
      height: 150px;
      max-width: 600px;
      margin: 28px auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    @media all and ( min-width: $screen__md ) {
      height: 100%;
      width: 13em;
      margin: 28px 14px 0;
    }
    
    &:hover,
    &:focus {
      background: $color__light-10;
    }
    
    svg {
      fill: $color__link;
    }
    
    p {
      color: $color__text-main;
      max-width: 320px;
      margin: 0 auto 28px;
      @media all and ( min-width: $screen__sm ) {
        margin: 0 28px;
//        display: inline-block;
//        vertical-align: middle;
//        width: 50%;
      }
    }
    
    button {
      color: $color__text-main;
      border: 1px solid rgba(0, 0, 0, 0.8);
      background: rgba(0, 0, 0, 0.8);
      border-radius: 8px;
      cursor: pointer;
      padding: 10px;
      width: 60%;
      margin: 0 auto;
      font-weight: normal;
      font-size: 1em;
      max-width: 160px;
      &:hover,
      &:focus {
        background: $color__dark-50;
      }
    }

  }
}








@media screen and ( min-width: 768px ) {
  .homepage-container {
    display: flex;
    justify-content: center;
  }

  .homepage-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }

  .homepage-branding {
    padding-top: 0;
    padding-bottom: 2em;
  }

  .homepage-menu-item p,
  .homepage-menu-item i,
  .homepage-menu-button {
    display: block;
    width: 100%;
  }

  .homepage-menu-button {
    width: 70%;
  }

  .homepage-menu-button {
    padding: 5px 10px;
  }

  .homepage-menu-item p {
    font-size: 1em;
    padding: 2em 1em;
  }
}

@media screen and ( min-width: 992px) {
  .homepage-screen {
    font-size: 1.3rem;
  }

  .homepage-branding .site-title {
    max-width: 591px;
  }

  .site-description {
    font-size: 1.1em;
    max-width: 551px;
    padding-left: 2.5em;
  }
}

@media screen and ( min-width: 1200px ) {
  .homepage-screen {
    font-size: 1.5rem;
  }

  .homepage-branding .site-title {
    max-width: 682px;
  }

  .site-description {
    max-width: 637px;
  }
}
