.portfolio-page {
  
  .page-header {
    padding: ( $grid__pixel-28 * 2 );
  }
  
  .page-title {
    font-weight: 100;
  }

  h1 {
    margin: 0;
  }
  
  .entry-title {
    font-weight: 700;
    text-transform: uppercase
  }
  
  a {
    margin: 0 ( $grid__pixel-7 * 2 ) $grid__pixel-28;
    display: inline-block;
    &:hover,
    &:focus {
      
      img {
        opacity: .8;
      }
    }
  }
  
  .entry-content {
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
  }
}

.portfolio {
  
  h1 {
    margin: 0;  
  }
  
  h2 {
    clear: none;
  }
  
  img:hover,
  img:focus {
    opacity: .8;
  }
  
  img.alignleft {
    margin: $grid__pixel-28 $grid__pixel-28 $grid__pixel-28 0;
  }
  
  img.alignright {
    margin: $grid__pixel-28 0px $grid__pixel-28 $grid__pixel-28;
  }
  
  img.desktop {
    margin: 0 0 $grid__pixel-28;
  }
  
  img.laptop {
    margin: $grid__pixel-28 0 0;
  }
  
  .screen-shot {
    font-size: 80%;
    font-style: italic;
  }
}
