.single-page,
.page-page {
  
  .entry-header {
    text-align: center;
    padding: 56px 0;
  }

  .entry-meta {
    font-weight: 700;
  }
  
  .entry-title {
    line-height: 1;
    font-weight: 100;
  }
  
  .featured-image-container {
    max-height: 365px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -15px 28px;
  }
  
  .entry-content {
    max-width: 600px;
    margin: 0 auto 28px;
    background: $color__dark-30;
    padding: 28px;
    border-radius: 6px;
    border: 1px solid $color__dark-10;
    font-size: 14px;
    @media all and ( min-width: $screen__sm ) {
      font-size: 16px;
    }
  }
} 