.single-page,
.page-page,
.portfolio-page {
  
  .entry-header {
    text-align: center;
    padding: 56px 0;
  }

  .entry-meta {
    font-weight: 700;
  }
  
  .entry-title {
    line-height: 1;
    font-weight: 100;
  }
  
  .featured-image-container {
    max-height: 365px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -15px 28px;
  }
  
  .entry-content {
    max-width: 600px;
    margin: 0 auto 28px;
    background: $color__dark-30;
    padding: 28px;
    border-radius: 6px;
    border: 1px solid $color__dark-10;
    
    li {
      margin-bottom: 14px;
      line-height: 1.3;
    }
  }
} 



.portfolio-page {
  
  .page-header {
    padding: 56px;
  }
  
  .page-title {
    font-weight: 100;
  }

  h1 {
    margin: 0;
  }
  
  .entry-title {
    font-weight: 700;
    text-transform: uppercase
  }
  
  a {
    margin: 0 14px 28px;
    display: inline-block;
    &:hover,
    &:focus {
      
      img {
        opacity: .8;
      }
    }
  }
  
  .entry-content {
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
  }
}

.portfolio {
  
  h1 {
    margin: 0;  
  }
  
  h2 {
    clear: none;
  }
  
  img:hover,
  img:focus {
    opacity: .8;
  }
  
  img.alignleft {
    margin: 28px 28px 28px 0;
  }
  
  img.alignright {
    margin: 28px 0px 28px 28px;
  }
  
  img.desktop {
    margin: 0 0 28px;
  }
  
  img.laptop {
    margin: 28px 0 0;
  }
  
  .screen-shot {
    font-size: 80%;
    font-style: italic;
  }
}