.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  max-width: 600px;
  margin: 0 auto 28px;
  background: $color__dark-30;
  padding: 28px 0;
  border-radius: 6px;
  border: 1px solid $color__dark-10;
  font-size: 14px;
  @media all and ( min-width: $screen__sm ) {
    font-size: 16px;
  }
  
  .comments-title {
    padding: 0 28px;
  }
  
  .comment-list {
    padding: 0;
    list-style: none;
  }
  
  .comment {
    padding: 28px 28px 0;
    border-top: 1px solid $color__soft-white;
  }
  
  .children {
    list-style: none;
    background: rgba(0,0,0,0.3);
    padding-left: 0.5em;
    margin: 0 -14px 28px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 6px;
    
    .comment {
      padding: 28px 14px 0;
    }
    
    .children {
      background: none;
      margin: 0 0 0 -0.5em;
      border: none;
      
      .comment {
        padding: 0;
      }
      
      .comment-body {
        padding-top: 28px;
      }
    }
  }
  
  .comment-meta {
    display: flex;
  
    .vcard {
      margin: 0 14px 14px 0;
    }

    .comment-author {
      font-size: 125%;
      flex: 3;
    }
    
    .comment-metadata {
      font-size: 70%;
    }
  }
  
  .reply {
    padding-bottom: 28px;
  }
  
  .comment-content {
    
    ol, ul {
      margin-bottom: 28px;
    }
    
    ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
  }
}